# private / large files
.env
.env.production
.pdm-python
/data/
/wandb/

# auto generated
__pycache__/
.ipynb_checkpoints/
.venv/
dist/
dist-ssr/
node_modules/
target/

/client/src-tauri/icons

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS-specific files
.DS_Store
